<div class="generic-container" style='margin-left: 0%; position: absolute; width: 100%;'>
  <div class="card card-default">
    <!-- Default card contents -->
    <div class="card-header"><span class="lead">Home</span></div>
    <div class="card-body">
      Application to support work in company. Currently under development.
      <hr>
      Modules:

      <mat-list role="list" dense>
        <mat-list-item role="listitem">Log downloader - rewritten desktop application, download log from all environments and apps(system_out in future) with feature like filter, get live log and create zip for jira bug for multiple applications</mat-list-item>
        <mat-list-item role="listitem">Sql executor - feature: execute useful sql like diabale sms auth for user, check if user have specyfic rights</mat-list-item>
        <mat-list-item role="listitem">Script executor - currently unavailable, feature: execute script on server and show log</mat-list-item>
      </mat-list>
    </div>
  </div>

</div>
